ul#aisles-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    padding-bottom: 10px;
  }
  li span.name {
    @include column(3);
  }
  li span.description {
    @include column(18);
  }
  li span.other_actions {
    @include column(5, true);
  }
}
.handle:hover{cursor: move;}