div#items_list {
  tr {
    td.action {
      width : 20px;
    }
    td.name {
      width : 140px;
    }
    td.aisle {
      width : 40px;
      font-size: .8em;
    }
    td.notes {
      width : 140px;
      font-size: .8em;
    }
    td.more_actions {
      width : 40px;
    }
  }
  .sort_link {font-size: .7em; }
}