//    +--------------+
//    |   #header    |
//    +--------+-----+
//    |              |
//    |   #content   |
//    |              |
//    +--------------+
//    |   #footer    |
//    +--------+-----+

body.one-col {
  background-color: #ccc;
  font-size: 1em;
  h1 {
    font-size: 2.5em;
    ul.submenu {
      font-size: .4em;
      margin: 0 0 2em;
      padding: 0;
      padding-top: 5px;
      display: inline;
      float: right;
      li {
        list-style-type: disc;	
        float: left;  
        margin: 0 1em 0 1em;
      }
      li.first {
        list-style-type: none;
      }
    }
  }
  #container, #header, #content-wrapper, #footer {
    @include container; 
  }
  #header {
    @include column($blueprint-grid-columns, true);
    background-color: #eee;
    height: 25px;
    border-bottom: solid 1px #999;
    ul.umenu {
      margin: 0 0 2em;
      padding: 0;
      li {
        list-style-type: disc;	
        float: left;  
        margin: 0 1em 0 1em;
      }
      li.first {
        list-style-type: none;
      }
    }
  }
  #content-wrapper {
/*    @include showgrid;*/
    background-color: #fff; 
    #actual-content {
      @include prepend($prepend-columns);           
      @include column($content-columns, true);
      @include append-bottom(20px);
      min-height: 400px; 
    } 
  }
  #footer {
  }
}