<h1>my stores</h1>

<%= render "add_store_form" %>
<br/>
<table>
<% @stores.each do |store| %>
  <tr>
    <td><%= link_to store.name, store %></td>
    <td>
      <%= link_to image_tag("edit.png", :border=>0), edit_store_path(store.id) %> 
      <%= link_to image_tag("delete.png", :border=>0), store, 
            :confirm => 'this will delete the store with all its items and history.  are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>