/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
/* line 15, ../../app/stylesheets/formtastic_changes.scss */
form.formtastic fieldset.inputs > ol > li input {
  width: 150px;
}

/* line 17, ../../app/stylesheets/formtastic_changes.scss */
form.formtastic fieldset > ol > li {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}

/* line 23, ../../app/stylesheets/formtastic_changes.scss */
form.formtastic#new_item fieldset > ol > li label {
  display: none;
}
/* line 26, ../../app/stylesheets/formtastic_changes.scss */
form.formtastic#new_item fieldset.inputs {
  width: 400px;
  display: inline;
  padding-bottom: 5px;
}
/* line 31, ../../app/stylesheets/formtastic_changes.scss */
form.formtastic#new_item fieldset > ol > li {
  display: inline;
  overflow: hidden;
}
/* line 35, ../../app/stylesheets/formtastic_changes.scss */
form.formtastic#new_item fieldset.buttons {
  padding: 0;
}

/* line 40, ../../app/stylesheets/formtastic_changes.scss */
form.formtastic#new_store fieldset > ol > li label {
  display: none;
}
/* line 43, ../../app/stylesheets/formtastic_changes.scss */
form.formtastic#new_store fieldset > ol > li {
  display: inline;
  overflow: hidden;
}
/* line 47, ../../app/stylesheets/formtastic_changes.scss */
form.formtastic#new_store fieldset.inputs {
  width: 400px;
  display: inline;
  padding-bottom: 5px;
}
/* line 52, ../../app/stylesheets/formtastic_changes.scss */
form.formtastic#new_store fieldset.buttons {
  padding: 0;
}

/* line 57, ../../app/stylesheets/formtastic_changes.scss */
form.formtastic#new_aisle fieldset > ol > li {
  overflow: hidden;
}
/* line 60, ../../app/stylesheets/formtastic_changes.scss */
form.formtastic#new_aisle fieldset.inputs {
  width: 400px;
  display: inline;
  padding-bottom: 5px;
}
/* line 65, ../../app/stylesheets/formtastic_changes.scss */
form.formtastic#new_aisle fieldset.buttons {
  padding: 0;
}
