/*
Syntax error: Invalid CSS after "     text-align:": expected pseudoclass or pseudoelement, was " left;"
        on line 15 of /Users/tom/Documents/dev/listy/app/stylesheets/ie.scss

Backtrace:
/Users/tom/Documents/dev/listy/app/stylesheets/ie.scss:15
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:838:in `expected'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:813:in `expected'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:796:in `expr!'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:572:in `pseudo'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:468:in `simple_selector_sequence'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:449:in `_selector'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:426:in `selector'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:415:in `selector_sequence'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:332:in `ruleset'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:401:in `declaration_or_ruleset'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:357:in `block_child'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:350:in `block_contents'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:339:in `block'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:333:in `ruleset'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:356:in `block_child'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:350:in `block_contents'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:57:in `stylesheet'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/scss/parser.rb:26:in `parse'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/engine.rb:213:in `_to_tree'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/engine.rb:197:in `_render'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/engine.rb:169:in `block in render'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/haml/util.rb:294:in `silence_haml_warnings'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/engine.rb:169:in `render'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/lib/compass/compiler.rb:103:in `block in compile'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/lib/compass/logger.rb:43:in `red'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/lib/compass/compiler.rb:102:in `compile'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/lib/compass/compiler.rb:93:in `compile_if_required'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/lib/compass/compiler.rb:84:in `block in run'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/lib/compass/compiler.rb:82:in `each'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/lib/compass/compiler.rb:82:in `run'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/lib/compass/commands/watch_project.rb:92:in `recompile'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:71:in `call'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:34:in `update'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/vendor/fssm/lib/fssm/state/directory.rb:32:in `block in modified'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/vendor/fssm/lib/fssm/state/directory.rb:31:in `modified'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/vendor/fssm/lib/fssm.rb:17:in `monitor'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/lib/compass/commands/watch_project.rb:61:in `perform'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/lib/compass/commands/base.rb:18:in `execute'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/lib/compass/commands/project_base.rb:19:in `execute'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/lib/compass/exec/sub_command_ui.rb:38:in `perform!'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/bin/compass:26:in `<top (required)>'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/bin/compass:19:in `load'
/Users/tom/.rvm/gems/ruby-1.9.2-p180/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"     text-align:\": expected pseudoclass or pseudoelement, was \" left;\"\A         on line 15 of /Users/tom/Documents/dev/listy/app/stylesheets/ie.scss"; }
